/* Place your CSS styles in this file */

h1{font-size:2.4vw;}
h2{font-size:2.0vw;}
h3{font-size:1.2vw;}
h4, h5{margin:0}
p{font-size: 2.0vw;}
a {text-decoration:none; color:#E8D7F1;}
img{width:100%; height:auto; min-width: 200px;}

body {
    display: flex;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    background-color: #CEAFDE;
}

#menuButton{
    background: none;
    background-image: url("menu.svg");
    background-repeat: no-repeat;
    padding-right:0%;
    width:5vw;
    height:8vh;
    outline: red;
    border: red;
    cursor: pointer;
}

#topDiv{
    background-color: #A167A5;
    height:4vw;
}

#textContainer{
    display: flex;
    justify-content: left;
    align-items: center;
    height: inherit;
}

h2.textSidebarContainer{
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

.title {
    cursor: pointer;
    margin-bottom: 0;
    margin-left: 6.5vw;
    color:#E8D7F1; 
}

.sidebar{
    display: flex;
    background-color:#A167A5;
    color:#E8D7F1;
    height:100vh;
    width: 9vw;
    overflow:hidden;
    padding-left:1.5vw;
    padding-right:3vw;
    position: fixed;
}

/* keep in this order */
.growTopbar {
    position:absolute;
    transition-property: left, width; 
    transition-duration: 0.5s;
    left: 0vw;
    width: 100vw;
}

.shrinkTopbar {
    position:absolute;
    transition-property: left, width;
    transition-duration: 0.5s;
    left: 13.5vw;
    width: 86.5vw;
}

.closeSidebar {
    position: fixed;
    transition-property: transform;
    transition-duration: 0.5s;
    transform: translateX(-100%);
}
.openSidebar {
    position: fixed;
    transition-property: transform;
    transition-duration: 0.5s;
    transform: translateX(0%);
}

.staticTopbar {
    transition: none;
    position:absolute;
    left: 13.5vw;
    width: 86.5vw;
}

.staticSidebar {
    transition: none;
    position: fixed;
    transform: translateX(0%);
}

.staticTopbarClosed {
    transition: none;
    position:absolute;
    left: 0vw;
    width: 100vw;
}

.staticSidebarClosed {
    transition: none;
    position: fixed;
    transform: translateX(-100%);
}

.navigation{
    display: flex;
    overflow: hidden;
}

#content{
    margin-top: 4.5vw;
    margin-left: 1vw;
    width:85.5vw;
    display: flex;
    gap: 2.5vw;
}

@media(orientation:portrait){
    h1{font-size: 9vw;}
    h1#aboutUsHeader{font-size: 5vw;}
    h2{font-size: 4vw;}
    h3{font-size: 5.5vw;}
    h4{font-size: 3.5vw;}
    p{font-size: 4.5vw;}
    .sidebar{width: 55vw; margin-top:25vw; height: 100vh;}
    #topDiv{height: 25vw; overflow: hidden;}
    #content{flex-direction: column; margin-top: 28vw; margin-left:6vw; width: 94vw; gap: 4vw;
        position: fixed; height:100vh;}
    #menuButton{width:25vw;}
    .shrinkTopbar{left: 0vw; width: 100vw;}
    aside{max-width: 86.5vw;}
    #content.shrinkTopbar{left: 59.5vw;}
}