:root {
    --caption-background: #0E3569A9;
    --background-color: #CEAFDE;
    --primary-color: #A167A5;
    --accent-color: #FFDEFF;
    --default-padding: 15px 15px 2vh;
    --default-border-radius: 30px;
    --desktop-sidebar-width: 13.5vw;
    --top-div-height: 14vh;
    --text-color: #CCC;
}

/* || reset defaults || */
input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

*:focus {
    outline: auto;
}

h1,
h2 {
    color: #000;
    font-size: clamp(2vw, 3rem, 8vw);
    margin: 0;
    text-align: center;
    background: var(--primary-color);
    overflow: hidden;
    display: inline;
    padding: var(--default-border-radius);
}

h2 {
    font-size: clamp(1vw, 1.5rem, 4.5vw);
}

h3 {
    font-size: clamp(1.2vw, 1.2rem, 2vw);
    margin: 0.5rem;
}

h4,
h5 {
    margin: 0;
    font-size: clamp(1vw, 1.2rem, 1.7vw);
}

p {
    font-size: 26px;
    margin: 0;
    /* yucky */
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

a {
    text-decoration: none;
    outline: none;
    color: var(--accent-color);
}

img {
    width: 100%;
    height: auto;
}

img:focus {
    outline: blue solid 3px;
}

body {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

/* || navigation || */
.svg-button {
    background: none;
    background-position: center center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

#menu-button {
    background-image: url("Assets/Icons/menu.svg");
    width: 8vh;
    height: 8vh;
    transform: scale(calc(1 / 1.5));
    transition: background-size 0.1s, transform 0.1s;
}

#home-logo:hover,
#home-logo:focus {
    transform: scale(1.1);
}

.close-sidebar-button {
    background-image: url("Assets/Icons/close_menu.svg") !important;
}

.close-sidebar-button:hover,
.close-sidebar-button:focus {
    background-image: url("Assets/Icons/close_menu_active.svg") !important;
}

#menu-button-box {
    margin-left: 2vw;
    transform: scale(1.5);
    display: flex;
}

#menu-button-box:hover>#menu-button {
    transform: scale(1);
    background-size: 6vh 6vh;
    background-image: url("Assets/Icons/menu_active.svg");
    background-color: var(--background-color);
    border-radius: 50%;
}

#menu-button-box:active>#menu-button {
    transform: scale(1.3);
}

#top-div {
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    height: var(--top-div-height);
}

#home-logo {
    margin: 0vh;
    height: 8lvh;
    content: url("Assets/Icons/logo_landscape.svg");
    margin-left: 6.5vw;
}

#sidebar {
    min-height: 100lvh;
    width: var(--desktop-sidebar-width);
    background: var(--primary-color);
    overflow: hidden;
    position: fixed;
    transition-property: transform;
    transition-duration: 0.5s;
    z-index: 100;
}

/* keep in this order */
/* || content shrinking, sidebar opening || */
.grow-content {
    position: absolute;
    transition-property: left, width;
    transition-duration: 0.5s;
    left: 0vw;
    width: 100%;
}

.shrink-content {
    position: absolute;
    transition-property: left, width;
    transition-duration: 0.5s;
    left: var(--desktop-sidebar-width);
    width: calc(100% - var(--desktop-sidebar-width));
}

.close-sidebar {
    transform: translateX(-100%);
}

.open-sidebar {
    transform: translateX(0%);
}

.static-content {
    transition: none;
    position: absolute;
    left: var(--desktop-sidebar-width);
    width: 86.5vw;
}

.static-sidebar {
    transition: none;
    position: fixed;
    transform: translateX(0%);
}

.static-content-closed {
    transition: none;
    position: absolute;
    left: 0vw;
    width: 100%;
}

.static-sidebar-closed {
    transition: none;
    position: fixed;
    transform: translateX(-100%);
}

.navigation {
    overflow: hidden;
}

/* || content, styling || */
#content {
    margin-top: var(--top-div-height);
    padding: 1vw;
    display: flex;
    flex-wrap: wrap;
    width: inherit;
    gap: 2.5vmax;
}

.default-padding {
    padding: var(--default-padding);
}

.card-div {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    height: min-content;
    flex: 1;
}

.caption {
    color: var(--text-color);
    background-color: var(--caption-background);
    padding: var(--default-padding);
    border-radius: var(--default-border-radius);
    flex: 1;
}

.image-with-caption>img {
    margin-top: 2.5%;
    width: 95%;
    border-radius: 30px;
}


.images-container {
    border-radius: var(--default-border-radius);
    background: var(--caption-background);
    padding-bottom: 1.5vh;
    height: fit-content;
}

.caption-image {
    float: right;
    min-width: 20vw;
    max-width: 25%;
    margin: 1vh;
}

.home-content {
    display: grid !important;
    grid-template:auto / 1fr 1fr 1fr;
}

.home-image {
    min-width: auto;
}

.home-image>img {
    border-radius: 0px !important;
}

#sidebar-links>a {
    padding: 2vh 1vw 1vh;
    display: block;
}

#sidebar-links>a>h3 {
    font-size: 1.25vw;
}

a>h3 {
    word-wrap: break-word;
    margin: 0;
}

#sidebar-links>a:hover,
#sidebar-links>a>h3:hover,
 #sidebar-links>a:focus {
    color: #FFFFFF;
    background-color: var(--background-color);
}

#sidebar-links>a:active {
    color: var(--primary-color);
}

#contact-us-title {
    padding: 4vh 4vw;
}

a.outside-link {
    text-decoration: underline solid var(--primary-color) 10%;
}

a.outside-link:active {
    color: var(--primary-color);
}

a.outside-link:hover,
a.outside-link:focus {
    background-color: var(--primary-color);
}

.about-us-caption {
    text-align: left;
}

.about-us-images {
    /* background-color: darkgreen; */
    flex: 0.5;
    color: var(--text-color);
}

.documentation-header {
    background: none;
    text-align: left;
    padding: 10px;
    border-bottom: 0.15vh solid #a167a5;
    padding-top: 0px;
    display: inline-grid;
    grid-auto-flow: column;
}

.large-title {
    font-size: 5rem;
    padding: 4vh 10vw;
    width: calc(100% - 2*10vw);
    text-align: center;
}

.selected-link {
    color: rgba(202, 224, 255, 0.5);
}

.collapse-button {
    background-position: right center;
    background-image: url("Assets/Icons/collapse_arrow.svg");
    transform-origin: 100% 50%;
    transform: rotate(-90deg) translate(50%, -50%);
    align-self: center;
    justify-self: right;
    transition: transform 200ms;
    height: 4rem;
    width: 4rem;
}

.collapse-button-close {
    transform: rotateX(0deg);
}

.documentation-content {
    width: calc(100% - 2 * var(--desktop-sidebar-width) - 2vw) !important;
    left: var(--desktop-sidebar-width);
}

#documentation-navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1vmax;
    width: calc(100% - 2vw - calc(100% - var(--desktop-sidebar-width)));
    margin-top: calc(var(--top-div-height) + 1vw);
    height: calc(100lvh - 2 * var(--top-div-height) - 2vmax);
    overflow-y: scroll;
    position: fixed;
    border-left: 0.2vw solid var(--primary-color);
}

#documentation-navbar>#navbar-anchor-container>a {
    display: flex;
    flex-direction: column;
    text-decoration-line: none;
    margin: auto;
    padding: 0.5vw;
    gap: 1rem;
}

.copy-toast-content {
    /* position: absolute; */
    display: block;
    margin: 2.5%;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.copy-toast-container {
    display: none;
    position: fixed;
    height: fit-content;
    overflow: auto;
    width: calc(72.5% * calc(100% - 2vw - calc(100% - var(--desktop-sidebar-width))));
    left: calc(22.5% * calc(100% - 2vw - calc(100% - var(--desktop-sidebar-width))));
    border-radius: 25%;
    /* top: 2rem; */
    /* z-index: 1; */
    margin-top: -3rem;
    background: var(--primary-color);
}

.show-toast {
    display: flex;
}

/* #documentation-navbar>#navbar-anchor-container>a.activate::before {
    display:relative;
} */

/* :nth-child(3n + 2 of .card-div)>.caption {
    background-color: green;
} */

.caption>ul>li {
    list-style-type: "\2B95 \0020";
}

/* disastrous */
.caption>ul>li>a {
    display: list-item;
    width: 100%;
}

.image-with-caption {
    flex-direction: column;
    align-items: center;
    display: flex;
}

.flex-column {
    flex-direction: column;
}

#contact-us-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2vmax;
}

#contact-us-content>div {
    flex: 1 1 0px;
    border-radius: var(--default-border-radius);
    overflow: hidden;
}

#other-contacts-div {
    display: grid;
    gap: 2vmax;
}

#contact-us-text {
    padding-right: 4vw;
}

#other-contacts-div>* {
    border-radius: var(--default-border-radius);
    overflow: hidden;
}

#contact-us-form {
    background: #FFFAFF;
}

.iframe-wrapper {
    height: min-content;
}

.iframe-wrapper>iframe {
    border-radius: inherit;
}

.documentation-nav-links {
    color: var(--caption-background);
}

@media(orientation:portrait) {
    :root {
        --portrait-sidebar-width: 55vw;
    }

    .home-card h2 {
        font-size: 6vw;
    }

    .home-content {
        grid-template: auto / 1fr !important;
    }

    #sidebar-links>a>h3,
    h3 {
        font-size: 5.5vw;
    }

    h4 {
        font-size: 3.5vw;
    }

    p {
        font-size: 5vw;
    }

    #sidebar {
        width: 55vw;
        z-index: auto;
    }

    #sidebar-links {
        margin-top: var(--top-div-height);
    }

    #content {
        flex-direction: column;
        margin: 6vw;
        position: relative;
        margin-top: calc(var(--top-div-height) + 6vw);
        flex-wrap: nowrap;
        max-width: none;
    }

    #documentation-navbar {
        display: none;
    }

    #home-logo {
        content: url("Assets/Icons/logo_portrait.svg");
    }

    #top-div.shrink-content {
        left: 0vw;
        width: 100%;
    }

    #content.shrink-content {
        left: var(--portrait-sidebar-width);
    }

    .caption-image {
        max-width: 50%;
    }

    .static-content {
        left: 0;
        width: 100%;
    }

    #contact-us-content {
        display: grid;
    }

    #sidebar-links>a {
        padding-left: 2vw;
    }

    .documentation-content {
        width: auto !important;
        left: 0vw;
    }

    .home-card {
        max-width: none;
    }

    .iframe-wrapper {
        height: clamp(50vh, 600px, 100vh) !important;
    }

    .iframe-wrapper>iframe {
        --scale-factor: 1.5;
        transform: scale(var(--scale-factor));
        transform-origin: 50% 0;
        width: calc(1/var(--scale-factor) * 100%);
        height: calc(1/var(--scale-factor) * 100%);
        left: calc((1/var(--scale-factor) * 100%)/4);
        position: relative;
    }

    .large-title {
        font-size: 4rem;
    }
}

@media only screen and (orientation:landscape) and (max-width:992px) {
    :root {
        --mobile-landscape-sidebar-width: 24.5vw;
    }

    #sidebar {
        width: var(--mobile-landscape-sidebar-width);
    }

    #sidebar-links>a>h3 {
        font-size: 2.4vw;
    }

    #sidebar-links>a {
        padding-top: 2.5vh;
        padding-bottom: 2.5vh;
    }

    .shrink-content {
        left: var(--mobile-landscape-sidebar-width);
        width: calc(100% - var(--mobile-landscape-sidebar-width));
    }

    aside {
        min-width: calc(var(--mobile-landscape-sidebar-width) + 3vw);
    }

    .static-content {
        left: var(--mobile-landscape-sidebar-width);
        width: calc(100% - var(--mobile-landscape-sidebar-width));
    }

    .about-us-images {
        flex: 0.8;
    }

    .documentation-content {
        width: calc(100% - var(--mobile-landscape-sidebar-width) - 2vw) !important;
    }
}