@import url("/styles.css");

.about-us-content {
    text-align: left;
}

.about-us-images {
    /* background-color: darkgreen; 
        can change this, up to you */
    flex: 0.5;
    color: var(--text-color);
}

@media only screen and (orientation:landscape) and (max-width:992px) {
    .about-us-images {
        min-width: calc(var(--mobile-landscape-sidebar-width) + 3vw);
        flex: 0.8;    
    }
}