@import url("/styles.css");

.home-content {
    display: grid !important;
    grid-template:auto / 1fr 1fr 1fr;
}

.home-image {
    min-width: auto;
}

.home-image>img {
    border-radius: 0px !important;
}

.large-home-card {
    grid-column: 1 / 3;
}

@media only screen and (orientation:portrait) {
    .home-card h2 {
        font-size: 6vw;
    }

    .home-content {
        grid-template: auto / 1fr !important;
    }

    .home-card {
        max-width: none;
    }

    .large-home-card {
        grid-column: auto / auto;
    }
}