@import url("/styles.css");

#contact-us-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2vmax;
}

#contact-us-title {
    padding: 4vh 4vw;
}

#contact-us-content>div {
    flex: 1 1 0px;
    border-radius: var(--default-border-radius);
    overflow: hidden;
}

#other-contacts-div {
    display: grid;
    gap: 2vmax;
}

#contact-us-text {
    padding-right: 4vw;
}

#other-contacts-div>* {
    border-radius: var(--default-border-radius);
    overflow: hidden;
}

#contact-us-form {
    background: #FFFAFF;
}

.iframe-wrapper {
    height: min-content;
}

.iframe-wrapper>iframe {
    border-radius: inherit;
}

@media only screen and (orientation:portrait) {
    #contact-us-content {
        display: grid;
    }
    
    .iframe-wrapper {
        height: clamp(50vh, 600px, 100vh) !important;
    }

    .iframe-wrapper>iframe {
        --scale-factor: 0.85;
        transform: scale(var(--scale-factor));
        transform-origin: 0 0;
        width: calc(1/var(--scale-factor) * 100%);
        height: calc(1/var(--scale-factor) * 100%);
        position: relative;
    }
}