@import url("/styles.css");

.documentation-header {
    background: none;
    color: #000;
    text-align: left;
    padding: 10px;
    border-bottom: 0.25vmin solid var(--primary-color);
    padding-top: 0px;
    display: inline-grid;
    grid-auto-flow: column;
}

.collapse-button {
    background-position: right center;
    background-image: url("/Assets/Icons/collapse_arrow.svg");
    transform-origin: 100% 50%;
    transform: rotate(-90deg) translate(50%, -50%);
    align-self: center;
    justify-self: right;
    transition: transform 200ms;
    height: 4rem;
    width: 4rem;
}

.collapse-button-close {
    transform: rotateX(0deg);
}

.documentation-content {
    width: calc(100% - 2 * var(--desktop-sidebar-width) - 2vw) !important;
    left: var(--desktop-sidebar-width);
}

#documentation-navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1vmax;
    width: calc(100% - 2vw - calc(100% - var(--desktop-sidebar-width)));
    margin-top: calc(var(--top-div-height) + 1vw);
    height: calc(100lvh - 2 * var(--top-div-height) - 2vmax);
    overflow-y: auto;
    position: fixed;
    border-left: 0.2vw solid var(--primary-color);
}

#documentation-navbar>#navbar-anchor-container>a {
    display: flex;
    flex-direction: column;
    text-decoration-line: none;
    margin: auto;
    padding: 0.5vw;
    gap: 1rem;
}

.copy-toast-content {
    /* position: absolute; */
    display: block;
    margin: 2.5%;
    align-self: center;
    text-align: center;
}

.copy-toast-container {
    display: none;
    color: var(--text-color);
    position: fixed;
    height: fit-content;
    overflow: auto;
    border-radius: 10px;
    left: 40%;
    width: 20%;
    bottom: 2vmax;
    background: #0E3569;
}

.show-toast {
    --toast-animation-delay: 1000ms;
    --toast-animation-duration: 350ms;
    display: flex;
    box-shadow: 0.1vmax 0.25vmax 0.2vmax 0.1vmax #00000039;
    animation: toast-animation var(--toast-animation-duration) ease-in 1 forwards, 
               toast-animation 200ms ease-out calc(var(--toast-animation-duration) + var(--toast-animation-delay)) 1 reverse;
}

.documentation-nav-links {
    color: var(--text-color-2);
}

@keyframes toast-animation {
    from {
        bottom: 2vmax;
    } 
    to {
        bottom: 5vmax;
    }
}

@media only screen and (orientation:portrait) {    
    #documentation-navbar {
        display: none;
    }

    .documentation-content {
        width: auto !important;
        left: 0vw;
    }
}

@media only screen and (orientation:landscape) and (max-width:992px) {
    .documentation-content {
        width: calc(100% - var(--mobile-landscape-sidebar-width) - 2vw) !important;
    }
}
